<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Count</title>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                
                document.querySelector('.count').onclick = count;
                document.querySelector('.save').onclick = save;

            });

            function count() {
                counter = document.querySelector('.counter').innerHTML
                counter = Number(counter) + 1
                document.querySelector('.counter').innerHTML = counter
            }

            function save() {
                fetch('/save', {
                    method: 'POST',
                    body: JSON.stringify({
                        counter: document.querySelector('.counter').innerHTML
                    })
                })
                .then(response => response.json())
                .then(result => {
                });   
            }
        </script>
    </head>
    <body>
        <h1 class="counter">{{counter}}</h1>
        <button class="count">Count</button>
        <button class="save">Save</button>
    </body>
</html>